<div class="frontpage-search">
  <%= search_form_for @search do |f| %>
    <%= f.text_field :title_cont, placeholder: "Search" %>
  <% end %>
</div>
<div class="hero-unit">
  <h3>Crowdcode: Coding Tutorials Done Right</h3>
  <p>We need something here that explains what the site does... <a href="https://tutsplus.com/courses/?q=true&filter_topic=35">This</a> is a nice example (the orange part)</p>
  <p>If you hate the background, check out <a href="http://subtlepatterns.com/tag/light/">this</a> for some other posibilities. 
</div>
<div class="tutorials">
  <%= render 'static_pages/tutorials', tutorials: @tutorials %>
</div>
<%= will_paginate @tutorials %>