<%= form_tag tutorial_links_path, method: :get do %>
<%= render 'shared/search' %>

<% end %>
<h2>Tutorials</h2>
<% @tut_links.each do |tut| %>
	<ul>
		<li><%= link_to tut.title, "http://#{tut.url}" %></li>
	</ul>
<% end %>