<h1><%= @tutorial.title %></h1>
<% if @tags %>
  <p>Tags: <%= @tags %></p>
<% end %>
<%= button_to "Edit tutorial", edit_tutorial_path, method: "get" %>
<%= button_to "Delete tutorial", tutorial_path, method: "delete" %>