<div class="profile-container">
  <span id="profile-pic"><%= gravatar_for(@user.email) %></span>
  <div class="top-bar-profile">
    <h1 id="user-info"><%= @user.username.capitalize %>'s profile</h1>
  </div>
  <div class="users-tutorials">
    <h3><%= @user.username.capitalize %>'s Recent Tutorials</h3>
    <ul>
      <% @user.tutorials.each do |tut| %>
      <li><%= link_to tut.title, tut %></li>
      <% end %>
    </ul>
  </div>
</div>