<section id="comment-list">
  <div class="comment-stats">
   <%= render 'comments/comment_count', tutorial: tutorial %>
  </div>
  <ul>
  <% @comments.each do |comment| %>
     <%= render 'shared/comment', comment: comment %>
  <% end %>
  </ul>
</section>