<div class="meta-info">
  <div class="votes">
  <span class="icon votes"><%= tut.vote_count ? tut.vote_count : "0" %>  </span>
  <div class="vote-btns">
    <% if user_signed_in? && !tut.author?(current_user) %>
      <% voted = current_user.voted?(tut) ? true : false %>
      <%= render 'votes/vote', :votable_type => tut, :voted => voted %>
    <% end %>
  </div>
</div>
  <span class="icon comments"><i class="ss-icon">chat</i><%= tut.comments.count %></span>
</div>