<div class="search-form">
<%= search_form_for @search, remote: true do |f| %>
<%= f.text_field :title_cont, :placeholder => "Title" %>
<%= f.text_field :tags_content_cont, :placeholder => "Tags" %>
<%= f.submit "Search", :class => 'btn btn-success' %>
<% end %>
</div>
