<div class="tutorial_box">
  <div class="tutorial">
    <%= link_to image_tag( tut.category.img, class: "tutorial"), tut %>
    <%= link_to tut.title, tut, { class: "tutorial" } %>
    <span class="points"><%= tut.vote_count ? tut.vote_count : "0" %>  Points</span>
    <%= render 'shared/addthis' %>
  </div>
</div>