<div class="tags-index">
<h1> Find tutorials by tag name</h1>
<table class="table table-hover">
  <% @split_tags.each do |row_of_tags| %>
  <tr>
    <% row_of_tags.each do |tag| %>
    <td class="tag-cell"><%= link_to tag.content, tag, :class => 'tag-link', :target => 'blank' %> x<%= tag.taggings.count %> </td> 
    <% end %>
  </tr>
  <% end %>
</table>
</div>
