/* main css */

@import "bootstrap";

.tutorial-img {
	max-width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

body {
	font-size: 100%;
	background-image: url('gray_jean.png');
	font-family: Helvetica;
}


h1 {
	font-size: 2em;
}

li {
	list-style-type: none;
}

.container {
	width: 90%;
	margin: 0 auto;
}

/* Add-this share box */

.add-this {
	opacity: .9;
}

/* Meta-info partial: inside tut-box */

.meta-info{
	position: absolute;
	right: 0; 
	bottom: 0;
	margin: 10px 0;
}

.vote-btns {
	position: absolute;
	right: 0; 
	bottom: 0;
	margin: 0%;
}

.downvote,
.upvote {
	position: absolute;
	bottom: -8px;
}

.upvote {
	right: 45px;
}

.downvote {
	right: 20px;
	margin: 0;
}

.icon  {
	font-size: 19px;
	color: #999;

	i, {
		margin-top: 2px;
		font-size: 16px;
		color: #999;
		position: relative;
		top: 1px;
		right: 2px;
	}
}

.icon.votes {
	position: absolute;
	right: 10px;
}

.star .ss-icon:hover, .star-yellow .ss-icon {
	color: #F0DA65;
	cursor: pointer
}

.icon.comments {
	padding-right: 79px;
	a, i {
	text-decoration: none;
	color: #999999;
		&:hover {
		  color: #777777;
		}
	}
}

.upvote input[type="submit"],
.downvote input[type="submit"] {
	border: none;
	font-size: 0;
	width: 30px;
	height: 30px;
	float: left;
	opacity: .8;
	&:hover{
		opacity: .94;
	}
}

.upvote input[type="submit"]{
	background: url(/images/upvote.png) no-repeat 0 0;
}

.downvote input[type="submit"] {
	background: url(/images/downvote.png) no-repeat 0 0;
}

.upvote input[disabled="disabled"],
.downvote input[disabled="disabled"] {
	cursor: default;
	opacity: .4;
	&:hover{
		opacity: .4;
	}
}

.favorite {
	display: inline;
	padding-right: 5px ;
}

/* Meta-info partial: on tutorial_show page */

.meta-tut-show {
	position: relative;
	left: -36px;
	width: 132px;
	margin: 40px;
}

/* Tutorial Box */

.tutorial-box {
	position: relative;
	width: 43.5%;
	margin: 3.208333%;
	background-color: #ffffff;
	float: left;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.tutorial-content {
		.tutorial-title {
			display: inline-block;
		  width: 58.555556%;
		  word-wrap: break-word;
		  font-weight: bold;
		  font-size: 1.8em;
		  text-align: left;
		  line-height: 1.2;
		  margin-top: 7px;
		  text-decoration: none !important;
		  color: #333333;
		  &:hover {
		  color: #555555;
		  }
		}
		.tutorial-img {
			float: left;
			width: 35%;
			margin-right: 5%;
		}
		#social-buttons {
		position: absolute; left: 35%; bottom: 0;
		margin: 3%;
		}
		.category-link, .tutorial-link{
			color: #819E64;
			&:hover {
				color: #9bcd69;
			}
		}
}

.tutorial-text {
	padding: 20px 5px 20px 20px;

}

/* User & Tutorial: Pages & Forms */

#tutorial_content {
	width: 600px;
	height: 250px;
}

.date-and-time {
	/*position: relative;*/
}

.edit-delete {
	float: right;
	display: inline;
	a:first-child {
		margin-right:20px;
	}
}

.created-by {
	font-style: italic;
	margin-bottom: 20px;
	display: inline-block;
	width: 80%;
}

#comment-list ul {
	margin-left: 0;
}

.tutorial-form,
.tutorial-show,
.sign-up,
.sign-in,
.profile-container	
 {
	background-color: #fff;
	width: 420px;
	margin: 0 auto;
	margin-bottom: 70px;
	padding: 30px 80px 50px 80px;
	border-radius: 5px;
	input,
	select {
		width: 100%;
	}
}

.tutorial-form {
	width: 600px;
}

.profile-container {
	width: 600px;
	min-height: 600px;
}

.tutorial-show {
	width: 50%;
	position: relative;
		
	h1 {
	}

	div.share-this {
	  position: absolute;
	  bottom: 13px;
	  right: 200px;

	}
	a.tutorial {
		color: grey;
		text-decoration: underline;
		font-size: 128.5%;
	}
}

#tutorial_category_id {
	width: 434px;	
}


.tutorial-radio-btns {
	label {
		display: inline;
		margin: 0 15px 0 5px;
	}
	
	.add-link-radio,
	.create-tutorial-radio {
		input {
			float: left;
			width: auto
		}
	}
}

.ckeditor,
.tutorial_url {
	margin: 15px 0;
}

/* Code Blocks */

.tutorial-show pre {
	background-color: inherit;
	border: inherit;
}

code {
	font-size: 14px;
}

/* Tablets */

@media screen and (max-width: 768px) { 
	.tutorial-img {
		width: 100%;
	}
	.tutorial-title {
		display: block;
		width: 100%;
		font-size: 0.8em;
		text-decoration: none !important;
	}
}

/* Mobile */

@media screen and (max-width: 480px) {
	.tutorial-box {
		max-height: 200px;
		overflow: hidden;
		float: none;
		margin: 5.20833% auto;
	}
}


/* Navbar */

.navbar-inner {
	padding: 8px 30px;
}

.brand {
	text-indent: -99999px;
	background: url(/images/crowdcode@2x.png) no-repeat 0 0;
	width: 235px;
	height: 38px;
	background-size: 235px;
}

nav li a {
	font-size: 1.2em;
}

ul.dropdown-menu li a:hover {
	background: #999; /*overwrites bootstrap*/
}

/* Login & Signup pages */

.sign-in input.btn.btn-large,
.sign-up input.btn.btn-large {
	width: 200px;
	margin-left: 229px;
}

.github-icon {
	margin-left: -41px;
}

.sign-in form.button_to,
.sign-up form.button_to {
	position: absolute;
	top: 520px;
}

.sign-up form.button_to {
	top: 585px;
}


.or {
	text-align: center;
	padding-top: 20px;
	font-size: 30px;
	margin-bottom: 5px;
}

/* front page search */

div.frontpage-search {
	position: absolute;
	right: 250px;
	top: 15px;
}


/* COMMMENTS */

.comments-container {
	background-color: white;
	width: 100%;
}

section#comment-list {
	h4 {
		display: inline;
	}
	div.comment-stats{
	  padding-bottom: 20px;
	  margin-right: 30px;
	}
	.username {
		font-weight: bold;
		color: black;
	}
	small:not(a) {
		color: #999;
	}
	small a {
		float: right;
		margin-right: 5px;
		padding-top: 10px;
	}
	p.main {
		padding-left: 45px;
		padding-bottom: 20px;
		margin-top: -10px;
		width: 75%;
	}

	li {
		border-bottom: 1px solid #e3e3e3;
	}
	li:last-child {
		border-bottom: none;
	}

	img {
		position: relative;
		top: 13px;
	}

	li.nested {
	 margin-left: 40px;
	 background: #f4f5f7;
	 position: relative;
	}
}

form.comment-form{
	width: 100%;
}

form.new_comment textarea {
	width: 97.5%;
}

 div.nested-comment {
		display: none;
		width: 100%;
		padding-left: 40px;

		textarea{
		height: 50px;
		width: 92%;
		}
		.btn{
		width: 46.5%;
		}
   .btn-danger  {
   	position: relative;
   	bottom: 50px;
   	left: 305px;
   }
	}

/* Code block syntax highlighting background */

.ace_print_margin_layer {
	color: #fff !important;
}
.ace_text-layer {
	color: #fff !important;
}

/* SIDEBAR */

div.tutorial-show {
	position: relative;
	div.sidebar{
		position: absolute;
		top: 100px;
		left: -40px;
		background: #f7f5f3;
		.star-yellow .ss-icon, .star .ss-icon {
			font-size: 25px;
			margin-left: 5px;
		}
		.star .ss-icon {
			color: #e3e3e3;
		}
		.addthis_toolbox {
		background-color: white;
		}
	}
}


/****** cloud tag *****/

div#wordcloud {
	position: relative;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	
	span:nth-child(even) {
		color: #9ed369;
	}
	span:nth-child(odd) {
		color: #555555;
		padding:7px;
	}
	span:nth-child(even) a:hover {
		color: #53a753;
		padding:5px;
	}

	span:nth-child(odd) a:hover {
		color: #222;
	}
	
}
