@import "bootstrap";

img.tutorial {
	max-width: 100%;
}

body {
	font-size: 100%;
	background-color: #e3e3e3;
	font-family: Helvetica;
}


h1 {
	font-size: 2em;
}

.container {
	width: 90%;
	margin: 0 auto;
}
div.tutorials {
	position: relative;
	span {
		position: absolute; right: 0; bottom: 0;
		margin: 3%;
	}
}

div.tutorial_box {
	position: relative;
	width: 43.5%;
	margin: 3.208333%;
	background-color: rgb(235, 235, 235);
	float: left;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
	

}


li {
	list-style-type: none;
}

a.tutorial {
	display: inline;
	width: 40.5555556%;
	word-wrap: break-word;
	font-weight: bold;
	font-size: 1.8em;
	text-align: left;
	line-height: 1em;
	float: left;
	padding-left: 5%;
	text-decoration: none !important;
	color: #444444;
}

a:hover {
	color: #333333;
}

img.tutorial {
	float: left;
	width: 35%;
}



/******* Tablets ********/

@media screen and (max-width: 768px) { 
	img.tutorial {
		width: 100%;
	}
	a.tutorial {
		display: block;
		width: 100%;
		font-size: 0.8em;
		text-decoration: none !important;
	}
}

/******* Mobile ********/

@media screen and (max-width: 480px) {
	div.tutorial_box {
		max-height: 200px;
		overflow: hidden;
		float: none;
		margin: 5.20833% auto;
	}
}