/* main css */

@import "bootstrap";
@import "bootstrap-responsive";

.tutorial-img {
	max-width: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

body {
	font-size: 100%;
	background-image: url('gray_jean.png');
	font-family: Helvetica;
}

h1 {
	font-size: 2em;
}

.get-started .btn-large {
	padding: 17px;
	font-size: 18px;
}

.get-started .btn.btn-success  {
	margin-top: 22px;
}

li {
	list-style-type: none;
}

.container {
	width: 90%;
	/*width: 100%;*/
	margin: 0 auto;
	/*padding: 5px;*/
}

/* Add-this share box */

.add-this {
	opacity: .9;
}

/* Meta-info partial: inside tut-box */

.meta-info{
	position: absolute;
	right: 15px;
	bottom: 0;
	margin: 10px 0;
}

.tutorial-show .meta-info {
	right: -12px;
}

.vote-btns {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 0%;
}

.downvote,
.upvote {
	position: absolute;
	bottom: -8px;
}

.upvote {
	right: 45px;
}

.downvote {
	right: 20px;
	margin: 0;
}

.icon  {
	font-size: 19px;
	color: #999;

	i, {
		margin-top: 2px;
		font-size: 16px;
		color: #999;
		position: relative;
		top: 1px;
		right: 2px;
	}
}

.icon.votes {
	position: absolute;
	right: 4px;
	opacity: .5;
}
.star .ss-icon{
	opacity: .5;
}
.star .ss-icon:hover, .star-yellow .ss-icon {
	color: #F0DA65;
	cursor: pointer;
	opacity: .94;
}

.star-yellow .ss-icon:hover {
	color: grey;
}

.icon.comments {
	padding-right: 79px;
	a, i {
	text-decoration: none;
	color: #999999;
		&:hover {
		  color: #777777;
		  opacity: .94;
		}
	}
}

.upvote input[type="submit"],
.downvote input[type="submit"] {
	border: none;
	font-size: 0;
	width: 30px;
	height: 30px;
	float: left;
	opacity: .4;
	&:hover{
		opacity: .94;
	}
}

.upvote input[type="submit"]{
	background: url(/images/upvote.png) no-repeat 0 0;
}

.downvote input[type="submit"] {
	background: url(/images/downvote.png) no-repeat 0 0;
}

.upvote input[disabled="disabled"],
.downvote input[disabled="disabled"] {
	cursor: default;
	opacity: .2;
	&:hover{
		opacity: .2;
	}
}

.favorite {
	display: inline;
	padding-right: 5px ;
}

.comment-count {
		opacity: 0.5;
}

.comments .ss-icon {
	opacity: 0.5;
}

/* Meta-info partial: on tutorial_show page */

.meta-tut-show {
	position: relative;
	left: -36px;
	width: 133px;
	margin: 40px;
}

/* Tutorial Box */

.tutorial-box {
	position: relative;
	width: 47.5%;
	height: 173px;
	margin: 1.208333%;
	background-color: #ffffff;
	float: left;
	border-radius: 5px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.tutorial-content {
		.tutorial-title {
			display: inline-block;
		  width: 58.555556%;
		  word-wrap: break-word;
		  font-weight: bold;
		  font-size: 1.7em;
		  text-align: left;
		  line-height: 1.2;
		  margin-top: 7px;
		  text-decoration: none !important;
		  color: #333333;
		}
		.tutorial-img {
			float: left;
			width: 173px;
			height: 173px;
			margin-right: 5%;
		}
		#social-buttons {
		position: absolute;
		left: 183px;
		bottom: 0;
		margin: 3%;
		}
		.category-link, .tutorial-link{
			color: #819E64;
			font-size: 15px;
			&:hover {
				color: #9bcd69;
			}
		}
}

.tutorial-text {
	padding: 20px 5px 20px 20px;
	width: 100%;
}

/* User & Tutorial: Pages & Forms */

#tutorial_content {
	width: 600px;
	height: 250px;
}

.date-and-time {
	/*position: relative;*/
}

.edit-delete {
	float: right;
	display: inline;
	a:first-child {
		margin-right:20px;
	}
}

.created-by {
	font-style: italic;
	margin-bottom: 20px;
	display: inline-block;
	width: 80%;
}

#comment-list ul {
	margin-left: 0;
}

.tutorial-form,
.tutorial-show,
.sign-up,
.sign-in,
.profile-container
 {
	background-color: #fff;
	width: 420px;
	margin: 0 auto;
	margin-bottom: 70px;
	padding: 30px 80px 50px 80px;
	border-radius: 5px;
	input,
	select {
		width: 100%;
	}
}

.tutorial-form {
	width: 600px;
}

.profile-container {
	width: 600px;
	min-height: 600px;
}

.tutorial-show {
	width: 680px;
	position: relative;
	margin-top: 50px;
	word-wrap: break-word;
	h1 {
	}

	div.share-this {
	  position: absolute;
	  bottom: 13px;
	  right: 200px;

	}
	a.tutorial {
		color: gray;
		text-decoration: underline;
		font-size: 128.5%;
	}
	p {
		line-height: 24px;
	}

}

#tutorial_category_id {
	width: 434px;
}


.tutorial-radio-btns {
	label {
		display: inline;
		margin: 0 15px 0 5px;
	}

	.add-link-radio,
	.create-tutorial-radio {
		input {
			float: left;
			width: auto
		}
	}
}

.ckeditor,
.tutorial_url {
	margin: 15px 0;
}

/* Code Blocks */

.tutorial-show pre {
	background-color: inherit;
	border: inherit;
	padding: 9.5px 0px;
}

pre code {
	font-size: 14px;
	border-radius: 0px;
}

/* Tablets */

@media screen and (max-width: 1134px) {
	.tutorial-box {
		width: 600px;
	}

	.tutorial-content #social-buttons {
		left: 183px;
	}
}

@media screen and (max-width: 768px) {
	.tutorial-img {
		width: 100%;
	}

	.tutorial-show {
		width: 74%
	}
	.tutorial-title {
		display: block;
		width: 100%;
		font-size: 0.8em;
		text-decoration: none !important;
	}

	body {
		padding-left: 0;
		padding-right: 0;
	}
}




/* Navbar */

header.navbar {
	border-radius: 0;
}
.navbar-inner {
	padding: 8px 30px;
	border-radius: 0px;
}

.brand {
	text-indent: -99999px;
	background: url(/images/crowdcode@2x.png) no-repeat 0 0;
	width: 235px;
	height: 38px;
	background-size: 235px;
}

nav li a {
	font-size: 1.2em;
}

ul.dropdown-menu li a:hover {
	background: #999; /*overwrites bootstrap*/
}

/* Login & Signup pages */

.sign-in,
.sign-up {
	overflow: hidden;
}

.sign-in a,
.sign-up a {
	float: right;
	clear: both;
}

.sign-in .button_to input.btn.btn-large,
.sign-up .button_to input.btn.btn-large {
	margin-top: 80px;
	width: 200px;
	float: right;
}

.github-icon {
	float: left;
	width: 240px;
	margin-left: -41px;
}


.sign-in form.button_to,
.sign-up form.button_to {
	width:200px;
	float: right;
}


.or {
	text-align: center;
	padding-top: 20px;
	font-size: 30px;
	margin-bottom: 5px;
}

#user_remember_me {
	width: 20px;
	float: left;
}

#user_remember_me + label {
	display: inline;
}

.sign-up .btn.btn-success,
.sign-in .btn.btn-success {
	margin-top: 20px;
}

/* front page search */

div.frontpage-search {
	position: absolute;
	right: 250px;
	top: 15px;
}


/* COMMMENTS */

.comments-container {
	background-color: white;
	width: 100%;
}

section#comment-list {
	h4 {
		display: inline;
	}
	div.comment-stats{
	  padding-bottom: 20px;
	  margin-right: 30px;
	}
	.username {
		font-weight: bold;
		color: black;
	}
	small:not(a) {
		color: #999;
	}
	small a {
		float: right;
		margin-right: 5px;
		padding-top: 10px;
	}
	p.main {
		padding-left: 45px;
		padding-bottom: 20px;
		margin-top: -10px;
		width: 75%;
	}

	li {
		border-bottom: 1px solid #e3e3e3;
	}
	li:last-child {
		border-bottom: none;
	}

	img {
		position: relative;
		top: 13px;
	}

	li.nested {
	 margin-left: 40px;
	 background: #f4f5f7;
	 position: relative;
	}
}

form.comment-form{
	width: 100%;
}

form.new_comment textarea {
	width: 97.5%;
}

 div.nested-comment {
		display: none;
		width: 100%;
		padding-left: 40px;

		textarea{
		height: 50px;
		width: 92%;
		}
		.btn{
		width: 46.5%;
		}
   .btn-danger  {
   	position: relative;
   	bottom: 50px;
   	left: 305px;
   }
	}

/* Code block syntax highlighting background */

.ace_print_margin_layer {
	color: #fff !important;
}
.ace_text-layer {
	color: #fff !important;
}

/* SIDEBAR */

div.tutorial-show {
	position: relative;
	div.sidebar{
		position: absolute;
		top: 100px;
		left: -40px;
		background: #f7f5f3;
		.star-yellow .ss-icon, .star .ss-icon {
			font-size: 25px;
			margin-left: 5px;
		}
		.star .ss-icon {
			color: #e3e3e3;
		}
		.addthis_toolbox {
		background-color: white;
		}
	}
}

/* Mobile */

@media screen and (max-width: 480px) {
	.tutorial-box {
		height: 122px;
		overflow: hidden;
		float: none;
		margin: 5.20833% auto;
		width: 100%}

	.tutorial-content .tutorial-title {
		font-size: 1.2em;
	}

	.tutorial-img {
		display: none;
	}

	.tutorial-text .tutorial-title {
		width: 87%;
	}

	.addthis_floating_style {
		margin: 0 auto;
		position: static;
	}

	.tutorials,
	.category-tuts {
		margin-bottom: 86px;
	}

	.tutorial-show {
		margin-top: 55px;
		padding: 10px 18px 10px 18px;
		width: 91%;
	}

	.add-this#social-buttons {
	display: none !important;
	}

	.sign-in,
	.sign-up {
		width: 78%;
		padding: 30px 40px 50px 25px;
	}

	.github-icon {
		display: none;
		margin-top: 26px;
	}

	.sign-in form.button_to,
	.sign-up form.button_to,
	.sign-in form.button_to input.btn.btn-large,
	.sign-up form.button_to input.btn.btn-large {
		margin-top: 10px;
		width: 100%;
	}

	.btn-large {
		font-size: 140%;
	}

	.btn {
		font-weight: bold;
	}

	.sign-in .btn.btn-success,
	.sign-up .btn.btn-success {
		margin-top: 31px;
	}

	.or {
		font-size: 19px;
		padding-top: 0px;
		margin-bottom: 0px;
	}

	input[type="password"],
	input[type="email"],
	input[type="text"] {
		height: 35px;
	}

	.tutorial-show .tutorial-title {
		padding-top: 25px;
	}
}

/* MOBILE - fixed menu */

.fixed-menu {
	border-top: 1px solid #bbb;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 9999;
	margin-top: 79px;
}

.fixed-menu .box a {
	box-sizing: border-box;
	background: #fff;
	border-right: 1px solid #bbb;
	color: #99CC66;
	float: left;
	height: 50px;
	line-height: 48px;
	opacity: 0.95;
	padding-top: 5px;
	text-align: center;
	width: 33.33333333%;
	text-decoration: none;

	:hover,
	:active {
		background: none;
	}
}

.fixed-menu a.last-box {
	border-right: 0;
}

.fixed-menu .box .ss-icon {
	font-size: 28px;
}

	.menu-categories a,
	.menu-share-links a {
		display: block;
		font-size: 16px;
		line-height: 22px;
		padding: 0px;
		text-align: left;
		color: #99CC66;
	}

	.menu-categories p{
		margin: 0 13px;
	}


.menu-categories,
.menu-share-links {
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #bbb;
	border-radius: 5px 5px 0 0;
	position: fixed;
	bottom: 50px;
	text-align: center;
	height: 355px;
	width: 66.333333333%;
	padding: 10px;
	z-index: 9997;
	hr {
		margin-top: 0;
		margin-bottom: 10px;

	}
	h5 {
		margin-top: 0px;
		font-size: 19px;
	}
	p {
		font-weight: bold;
	}
}

.menu-share-links {
	border-right: none;
	width: 33.3333%;
	left: 66%;
	height: 250px;
	border-radius: 5px 0 0 0;
	/*z-index: 9998;*/
}

/****** cloud tag *****/

div#wordcloud {
	position: relative;
	width: 100%;
	height: 500px;
	margin: 0 auto;

	span:nth-child(even) {
		color: #9ed369;
	}
	span:nth-child(odd) {
		color: #555555;
		padding:7px;
	}
	span:nth-child(even) a:hover {
		color: #53a753;
		padding:5px;
	}

	span:nth-child(odd) a:hover {
		color: #222;
	}

}
div.hero-unit {
  margin-top: -20px;
  margin-left: -73px;
  width: 102%;
  height: 200px;
  text-align: center;
	background: url("grey_wash_wall.png");
	color: white;
	border-radius: 0;
	border-bottom: 1px solid white;
	box-shadow:0 1px rgba(255, 255, 255, 0.17);
	h3 {
		font-size: 383%;
		font-weight: normal;
		padding-top: 0px;
		padding-bottom: 19px;
	}
	p {
		font-size: 150%;
	}
	a {
		margin: 0 auto;
	}
}
div.alert {
	position: absolute;
	width: 100%;
}


/***About us page ***/

ul.team {
	li {
		float: left;
		text-align: center;

		strong {
			display: block;
		}

	}
	.people {
		margin: 0 120px 15px;
	}
	li:last-child div.people {
		margin-right: 0px;
	}
	li:last-child strong,
	li:last-child .ryan {
		padding-left: 120px;
	}
}



h3.about {
	text-align: center;
}

div.people {
		border: 10px solid white;
		border-radius: 50%;
		display: inline-block;
		background: #dfdfdf;
		position: relative;
		.info{
			background-color: rgba(255,255,255, 0.5);
			border-radius: 50%;
			display: inline-block;
			position: absolute;
			width: 185px;
			height: 180px;
			top: 0px;
			right: 0px;
			display: none;;
			a.github {
				position: absolute;
				bottom: 75px;
				left: -15px;
			}
			a.mail {
				position: absolute;
				right: -15px;
				bottom: 75px;
			}
		}
		img {
			border-radius: 50%;
			max-width: 100%;
			display: inline-block;
		}
}
