@import 'bootstrap';
@import 'bourbon';

.tag-link {
  background-color: #E0EAF1;
  color:black;
  width: 10%;
}
.tag-cell {
  color: black;
  width: 240px;
}
.tags-table tr {
  border-bottom: 1px dotted gray;
  border-spacing: 0;
}
