/* User profile */

.user-description {
  clear: both;
  padding-top: 20px;
  padding-left: 25px;
  text-align: left;
}

.tabs {
  padding-top: 50px;
  float:left;
  width: 88%;
  border-bottom: 1px solid #ccc;
}

#profile-pic {
  display: inline;
  float: left;
  padding-left: 30px;
  margin-top: 29px;
}

.top-bar-profile {
  float:right;
  display:inline;
  width:460px;
}

.tabs li {
  display: inline-block;
  float: left;
  padding: 10px 15px;
  height: 30px;
  line-height: 25px;
}

.tab {
  display:none;
  padding-left: 22px;
}

.tutorials {
  clear: both;
}

.tabs li.active {
    background: #eee;
    border: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 14px;
}

.tabs li {
  &:hover   { background: lighten(#ccc, 10%);
              border-top-left-radius: 5px;
              border-top-right-radius: 5px; }
}

.tabs li a {
  color: #99D269;
}

li a {
  color: black;
}

.users-tutorials {
  margin-top: 150px;
}

ul {
  margin-left: 0;
}