<% if current_user %>
<% if upvote?(votable_type.class.to_s, votable_type.id)  %>
  <div class="upvote">
    <%= vote_button("update", "Upvote", votable_type, :put, "disabled") %>
  </div>
  <div class="downvote">
    <%= vote_button("update", "Downvote", votable_type, :put) %>
  </div>
<% else  %>
  <div class="upvote">
    <%= vote_button("update", "Upvote", votable_type, :put) %>
  </div>
  <div class="downvote">
    <%= vote_button("update", "Downvote", votable_type, :put, "disabled") %>
  </div>
<% end  %>
<% end %>
